<html>
    <body style="background-color:#232323;">
        <center style="color:white">Useless Game Store</center>
        <a style="color:white" href="http://127.0.0.1:5000/">Home</a>
        <a style="color:white" href="http://127.0.0.1:5000/gamestore/snake">Snake</a>
        <a style="color:white" href="http://127.0.0.1:500/gamestore/tetris">Tetris</a>
        <a style="color:white" href= "https:127.0.0.1:500/gamestore/flappybird">Flappy bird</a>
        <a style="color:white" href= "https:127.0.0.1:500/diceroll">Dice</a>
        <a style="color:white" href= "https:127.0.0.1:500/generator">Number Generator</a>
        <a sytle="color: white" href= "http://127.0.0.1:5000/generator">Random Number Generator</a>
        <a style="color:white" href="https://youtu.be/wpV-gGA4PSk?t=76">Click for epicness</a>
        <a style="color:white" href="http://127.0.0.1:5000/joke">Unknown</a>
        
    
            


        
        
    </body>
</html>